.radius-10 {
    border-radius: 10px;
}

.text-black {
    color: black !important;
}

.font-bold {
    font-weight: bold;
}

.label-input {
    font-weight: 400;
    color: black !important;
}

.btn-info {
    background: #00A7FF !important;
}

/* .btn {
    padding: 10px 30px;
    border-radius: 15px;
} */

.centered-radio-cs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.text-highlight {
    font-weight: 400;
    color: #0E961C;
}

.kt-header {
    background: #0E961C !important;
    border-bottom: 1px solid #eff0f6;
}

.container-detail-pekerjaan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.ctm-footer-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.font-12 {
    font-size: 7px !important;
}

.font-bold {
    font-weight: bold !important;
}

.centered-action-jurnal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.label-jurnal-detail {
    font-size: 10px;
}

.cursor-pointer {
    cursor: pointer !important;
}